body {
  font-family: "Times New Roman", Times, serif;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}
.logo img {
  width: 150px;
  height: auto;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}
ul {
  display: flex;
  font-size: 18px;
  gap: 25px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
#headertitle {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
  width: 7em;
}
.text {
  font-size: 18px;
  color: #e5e7eb;
  opacity: 40%;
  width: 23em;
}
.signupbtn {
  background-color: #3882f6;
  width: 8em;
  color: white;
  padding: 10px;
  border-radius: 2em;
  border-color: white;
}
.img img {
  width: 350px;
  height: auto;
}
.sectionone {
  background-color: #1f2937;
  height: 40vh;
  display: flex;
  justify-content: space-around;
}
.leftside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}
.rightside {
  display: flex;
  align-self: center;
  margin: 25px 25px 70px;
}
.sectiontwo {
  height: 30vh;
}
.sectiontwo .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cardinfo img {
  width: 180px;
  height: auto;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.cardtitle {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin: 50px;
}
.cardinfo {
  text-align: center;
  justify-content: center;
  align-content: center;
  max-width: 200px;
}
.cardinfo .cardtext {
  font-size: 12px;
  color: black;
}
.sectionthree {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  margin-top: 30px;
  height: 45vh;
}
.quote .quotext {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  max-width: 40rem;
}
.quote .credentials {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}
.sectionfour {
  background-color: #3882f6;
  padding: 30px;
  color: white;
  margin: 90px auto;
  max-width: 1000px;
  border-radius: 1em;
}
.container {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-content: center;
}
.info .title {
  font-size: 25px;
}

.info .subtext {
  font-size: 16px;
  justify-content: center;
  align-self: flex-end;
  align-content: flex-start;
}

.clickme {
  background-color: #3882f6;
  width: 8em;
  height: 3em;
  color: white;
  padding: 10px;
  border-radius: 1em;
  border-color: white;
}

.container .button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  align-content: center;
  padding: 20px;
  text-align: center;
  color: white;
}
